.flex-layout {
  display: flex;
  flex-flow: row wrap;
}
.break {
  flex-basis: 100%;
  height: 0;
}

.bordered {
  min-height: 200px;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 6px;
  padding: 5px;
  overflow-y: auto;
}

textarea:focus {
  border: 1px solid blue;
  outline: none;
}

.result {
  border: 1px solid black;
  height: min-content;
  border-radius: 6px;
  padding: 5px;
  width: 100%;
  padding-bottom: 100px;
}
.my-container {
  margin: 15px;
}

.about-container {
  margin: 15px;
  border: 1px solid black;
  padding: 15px;
  border-radius: 6px;
}

.word {
  margin-right: 4px;
  height: min-content;
}

.with-whitespace {
  white-space: pre-wrap;
  position: relative; 
}

.space {
  height: 0;
  width: 4px;
}

button {
  position: absolute;
  right: 10px;
}